/*@import url('https://fonts.googleapis.com/css?family=Numans');*/

.main {
    background-image:url('../../assets/img/vintage.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }


  